- var tenyear = site.data.about.tenyear
if tenyear
    .author-content#tenyear
        .create-site-post.author-content-item.single
            .author-content-item-tips= tenyear.tips
            .author-content-item-title= tenyear.title
            p= tenyear.text
            .tenyear-timeline
                .progress
                .past-time
                .percentage-label
            .time-labels
                span.start-time#tenyear-start-time(data-date=tenyear.start)= new Date(tenyear.start).toLocaleDateString()
                span.end-time#tenyear-end-time(data-date=tenyear.end)= new Date(tenyear.end).toLocaleDateString()

    script.
        document.addEventListener("DOMContentLoaded", function () {
            function updateTenYearProgress() {
                let progressElement = document.querySelector(".progress");
                let pastTimeElement = document.querySelector(".past-time");
                let percentageLabelElement = document.querySelector(".percentage-label");
                let startTimeElement = document.getElementById("tenyear-start-time");
                let endTimeElement = document.getElementById("tenyear-end-time");
                let startTime = Date.parse(startTimeElement.getAttribute("data-date"));
                let endTime = Date.parse(endTimeElement.getAttribute("data-date"));


                const currentTime = new Date().getTime();
                const progress = Math.min(((currentTime - startTime) / (endTime - startTime)) * 100, 100);
                const progressPercentage = progress.toFixed(2) + "%";

                console.log("Start Time:", new Date(startTime).toISOString());
                console.log("End Time:", new Date(endTime).toISOString());
                console.log("Progress:", progressPercentage);

                pastTimeElement.style.setProperty("--past-time-percentage", progressPercentage);
                progressElement.style.setProperty("--progress-percentage", progressPercentage);

                if (progress > 5) {
                    percentageLabelElement.textContent = `${progress.toFixed(0)}%`;
                    percentageLabelElement.style.left = `calc(${progress}% - 35px)`;
                }

                percentageLabelElement.style.visibility = "visible";
            }

            if (document.getElementById("tenyear")) {
                updateTenYearProgress();
            }
        });
